h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; }

@mixin typography {
    @each $n in $font-size {
        // when fontweigt regular
        .#{$p}-reg-#{$n} {
            font-size: #{$n}px;
            line-height: #{$n + 8}px;
            font-weight: 400;
        }
        // when fontweigt semibold
        .#{$p}-smb-#{$n} {
            font-size: #{$n}px;
            line-height: #{$n + 8}px;
            font-weight: 600;
        }
        // when fontweigt bold
        .#{$p}-str-#{$n} {
            font-size: #{$n}px;
            line-height: #{$n + 8}px;
            font-weight: 700;
        }
    }
}
@include typography;